<main>
  <section>
    <h1>Todo List</h1>

    <p>A place to store your todos</p>
    <form action="">
      <label for="filter">
      <input type="text" id="filter" name="filter" [(ngModel)] ="filter" placeholder="Filter your to-dos" />
    </label></form>
    

    <!-- <div (deleted)="deleted($event)"></div> -->
    <ol>
      <li *ngFor="let todo of todos">
        <span class="flex-li">
          <button *ngIf="!todo.completed" (click)="completeTask(todo)">Complete</button>
          <span [ngClass]="{ strikethrough: todo.completed }">
            {{ todo.task }}
          </span>
          <button (click)="removeTask(todo.task)" class="close">X</button>
        </span>
        
      </li>
    </ol>

    <label>
      <input type="text" id="taskAdd" name="task" [(ngModel)] ="task" placeholder="Add your to-do" />
    </label>
    <button type="submit" name="add" id="add" (click)="addToList(task)">Add</button>
  </section>
</main>
